button {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: repeat(4, 30px);
    row-gap: 50px;
    column-gap: 30px;
}

