.body {
    background-color: #e3e3e3;
    width: auto;
    height: auto;
}

button {
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-family: 'open-sans', sans-serif;
    font-weight: 500;
    background-color: lightgrey;
    font-size: 22px;
    height: 70px;
    width: 70px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

button:hover {
    background-color: #696969;
    color: white;
}

.heading, .calculator {
    margin: auto;
    width: max-content;
    height: max-content;
}

.heading {
    margin-top: 50px;
}

h1 {
    font-family: 'open-sans', sans-serif;
    font-size: 46px;
    margin: 10px;
    text-align: center;

}

.calculator {
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2F4F4F;
}

.screen {
    border: solid 2px black;
    border-radius: 5px;
    background-color: #A9A9A9;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'open sans', sans-serif;
    text-align: right;
}

#previous-operand {
    font-size: 40px;
    margin: 10px 10px 0px 10px;
    text-align: left;
}

#current-operand {
    margin: 0px 10px 10px 10px;
}

.keypad {
    display: flex;
    flex-direction: column;
}

#clear, #delete {
    width: 46%;
}

